<table class="table">
    <thead>
        <tr>
            <th scope="col"># </th>
            <th scope="col">Nobmre </th>
            <th scope="col">img</th>
            <th scope="col">precio</th>
            <th scope="col">descripcion </th>
            <th scope="col">categoria</th>
            <th scope="col">Acciones</th>

    </thead>
    <tbody>
        <tr *ngFor="let col of coleccionProductos">
            <th scope="col">1</th>

            <td>
                <img src="{{col.img}}">
            </td>
            <td>{{col.nombre}}</td>
            <td>{{col.precio}}</td>
            <td>{{col.descripcion}}</td>
            <td>{{col.categoria}}</td>


            <!--ACCIONES-->
            <td>
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
                <button id="btn-delete" title="ELiminar" type="button" class="btn btn-outline-danger" 
                data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostarBorrar(productoSeleccionado)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            <td>
                <button>
                    <mat-icon>editar</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

  <!-- Boton de agregar nuevos productos -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    agregar un nuevo producto
</button>


  <!-- Modal Para agregar un nuevo producto-->
  <div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

            <!--Titulo modal-->
          <h1 class="modal-title fs-5" id="exampleModalLabel">ingrese un nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!--Cuerpo del modal-->
        <div [formGroup]="producto" class="modal-body">
          <div class="mb-3">
            <label class="form-label">Ingrese el nombre del producto</label>
            <input class="form-control" type="text" formControlName="nombre" placeholder="Ej: Flores">
          </div>
        </div>

        <div [formGroup]="producto" class="modal-body">
            <div class="mb-3">
              <label class="form-label">Ingrese el nombre del producto</label>
              <input class="form-control" type="text" formControlName="nombre" placeholder="Ej: Flores">
            </div>
          </div>
          
          <div [formGroup]="producto" class="modal-body">
            <div class="mb-3">
              <label class="form-label">Ingrese la imagen</label>
              <input class="form-control" type="text" formControlName="img">
            </div>
          </div>

          <div [formGroup]="producto" class="modal-body">
            <div class="mb-3">
              <label class="form-label">Ingrese el precio</label>
              <input class="form-control" type="number" formControlName="precio" placeholder="Ej: $20.000">
            </div>
          </div>

          <div [formGroup]="producto" class="modal-body">
            <div class="mb-3">
              <label class="form-label">Ingrese la descripcion</label>
              <input class="form-control" type="text" formControlName="descripcion" placeholder="Ej: Flores">
            </div>
          </div>

          <div [formGroup]="producto" class="modal-body">
            <div class="mb-3">
              <label class="form-label">Ingrese la categoria</label>
              <select class="form-control form-select" formControlName="categoria">
                <option selected>elija una opcion</option>
                <option value="alimentos">alimentos</option>
                <option value="juguetes">ropita</option>
                <option value="productos">juguetes</option>
              </select>
            </div>
          </div>

        <!--Acciones del modal-->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="agregarProducto()" >guardar</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >cancelar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

