<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Perro</mat-card-title>
    <mat-card-subtitle>anticristo99</mat-card-subtitle>
  </mat-card-header>
  <img width="400" mat-card-image src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQgByBT5IiAT_a2x9pUVb4VMoOrlzHH7Jrzj-HB5jzHlR4lNLMS" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      perro mirando todo tonto como el tonto que es, que perro tonto
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
